/* For maps (& other embeds) - fits in with existing template classes/styles */
.image iframe {
  width: 100%;
  height: 100%;
}

/* Transitions for maps (in iframes) - add more if needed (see similar in main.css for .image img elements) */
.banner.onscroll-image-fade-in .image iframe {
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.banner.onscroll-image-fade-in.is-inactive .image iframe {
  opacity: 0;
}

/* Better for mobile, when text gets centered */
ul {
  list-style-position: inside;
}

@media only screen and (min-width: 851px) {
  .lm-sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
  }
  .banner.style1 {
    overflow-x: visible;
  }
  div#wrapper {
    overflow-x:visible;
  }
}
