<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/story/css/main.css" />
		<link rel="stylesheet" href="/story/css/custom.css" />
    <noscript><link rel="stylesheet" href="/story/css/noscript.css" /></noscript>

{% seo %}
    
  </head>

  <body class="is-preload">
    <div id="wrapper" class="divided">
        {{ content }}
    </div>
    <!-- Footer -->
    <footer class="wrapper style1 align-center">
      <div class="inner">
        <ul class="icons">
          <li><a href="https://twitter.com/geo_lmc" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/in/luke-mcquade-87bba036/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          <li><a href="https://github.com/lukesdm" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="mailto:lukem.geo@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p>&copy; Luke McQuade 2021. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="/story/js/jquery.min.js"></script>
    <script src="/story/js/jquery.scrollex.min.js"></script>
    <script src="/story/js/jquery.scrolly.min.js"></script>
    <script src="/story/js/browser.min.js"></script>
    <script src="/story/js/breakpoints.min.js"></script>
    <script src="/story/js/util.js"></script>
    <script src="/story/js/main.js"></script>
  </body>
</html>
